body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(2, 19, 50);
    background-image: url(https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}

body {
    --playerCreatorBgColor: rgb(236, 89, 177);
    --mainFontColor: rgb(121, 196, 56);
    --mainColor: rgb(249, 219, 22);
    --secondaryColor:  rgb(212, 206, 206);
    --avPlColor: rgb(59, 58, 58);
    --hover1Color: rgb(248, 77, 9);
    --hover2Color: rgb(248, 248, 9);
    --hover3Color: rgb(248, 9, 9);
    --playerColor: rgb(238, 242, 243);
    --removePlayerBtn: rgb(240, 171, 24);
    --addPlayerWrapperColor: rgb(96, 87, 87);
    --applyBtnColor: rgb(178, 234, 253);
    --applyBtnHr: rgb(59, 142, 170);
    --shadowColor: rgba(53, 48, 48, 0.722);
} 

.app-wrapper {
    height: 100vh; 
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 



h1 img {
    margin-top: 20px;
}

.players-wrapper {
    background-color: var(--secondaryColor);
    border-radius: 20px;
    padding: 10px;
    width: 1200px;
    
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 31px 0px rgba(247, 245, 245, 1);
    -moz-box-shadow: 0px 0px 31px 0px rgba(247, 245, 245, 1);
    box-shadow: 0px 0px 31px 0px rgba(247, 245, 245, 1);
    
}

.players-wrapper h2 {
    text-align: center;
    font-size: 20px;
    color: var(--avPlColor);
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    
}

.players-btns {
    display: flex;
    justify-content: center;
}

.add-new-player,
.remove-all-players,
.sort-players {
    display: block;
    padding: 7px 20px;
    width: 18%;
    border-radius: 12px;
    border: none;
    margin: 5px;
    cursor: pointer;
    transition: 300ms;
}

.sort-players {
    background-color: var(--mainColor);
    
}

.sort-players:hover {
    background-color: var(--hover1Color);

}

.add-new-player:hover {
    background-color: var(--hover2Color);
}

.remove-all-players:hover {
    background-color: var(--hover3Color);
}

.players-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    height: 320px;
    position: relative;
}

.player {
    background-color: var(--playerColor);
    padding: 5px;
    width: calc(100%/10);
    height: fit-content;
    border-radius: 12px;
    margin: 5px;
}

.name {
    text-align: center;
    font-weight: 700;
    margin: 5px 0;

}

.remove-player {
    border: none;
    background: none;
    display: block;
    margin: 0 auto;
    color: var(--removePlayerBtn) ;
    cursor: pointer;
}

.assets {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.assets p {
    font-size: 11px;
    font-weight: 600;

}

.teams-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    /* background-color: #fff; */
    width: 1000px;

}

.team1,
.team2 {
    
    width: 50%;
    height: 350px;
    border-radius: 12px;
    padding: 20px;
}


.team1 {
    margin: 20px 10px 20px 20px;
}

.team2 {
    margin: 20px 20px 20px 10px;
}

.team1 h2,
.team2 h2 {
    text-align: center;
    color: var(--mainColor);
    margin-top: 5px;
    margin-bottom: 5px;
}

.team1 h3,
.team2 h3 {
    text-align: center;
    color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.team1 h4,
.team2 h4 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 700;

    color: var(--removePlayerBtn);
}

.team1 h3 p,
.team2 h3 p {
    margin-left: 6px;
    font-weight: 700;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;

}

li {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    display: inline-block;
    color: var(--mainColor);
}

/**************** Player creator ***************/

.player-creator {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 0;
    width: 600px;
    background-color: var(--addPlayerWrapperColor);
    box-shadow: 0 0 25px var(--mainColor);
    border-radius: 12px;

}

.player-creator h2 {
    font-size: 30px;
    color: var(--mainColor);
}

label {
    font-size: 20px;
    color: var(--mainColor);
    margin: 10px 0;
    font-weight: 700;

}

input {
    padding: 5px 10px;
    border-radius: 12px;
    border: none;
    outline: none;
    transition: 300ms;
    width: 80%;
}

input:hover {
    background-color: var(--removePlayerBtn);
}

.player-creator .error {
    color: var(--removePlayerBtn);
    font-size: 20px;
    visibility: hidden;
    font-weight: 700;
}

.player-creator button {
    display: inline-block;
    padding: 5px;
    width: 150px;
    border-radius: 12px;
    border: 1px solid rgb(90, 84, 84);
    cursor: pointer;
    transition: 300ms;
}

.add-player-creator-btn {
    background-color: var(--applyBtnColor);
    margin-right: 10px;
}

.add-player-creator-btn:hover {
    background-color: var(--applyBtnHr);
}

.cancel-btn {
    background-color: var(--removePlayerBtn);
    margin-left: 10px;
}

.cancel-btn:hover {
    background-color: var(--hover3Color);
}

/****************** Non even error div ************************* */

.not-even-error {
    display: none; 
    z-index: 10;
    background-color: var(--removePlayerBtn); 
    width: 50%;
    padding: 20px;
    border-radius: 12px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.not-even-error p {
    font-size: 26px;
    text-align: center;
    font-weight: 700;
}

.close-btn {
   padding: 5px 15px; 
   border-radius: 12px;
   border: 1px solid rgb(133, 128, 128);
   font-weight: 700;
   background-color: rgb(202, 194, 194);
   transition: 300ms;
   display: block;
   margin: 0 auto;
   
}

.close-btn:hover {
    background-color: #fff;
}

/************ Try again******************** */

.try-again {
    display: none; 
    z-index: 1000;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 15%;
}

.again-btn {  
    
    cursor: pointer;
    width: 100%;
    height: 90%; 
    border-radius: 12px;
    border: none;
    font-size: 25px;
    font-weight: 700;
    transition: 0.3s;
    background-color: var(--removePlayerBtn);
    -webkit-box-shadow: 8px 8px 24px 0px rgb(26, 27, 37);
    -moz-box-shadow: 8px 8px 24px 0px rgb(17, 18, 29);
    box-shadow: 8px 8px 24px 0px rgb(13, 14, 28);
}  

.again-btn:hover {
    background-color: var(--mainColor);

} 

.shadow {
    display: none;
    background-color: var(--shadowColor);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    
    
}